<!-- Add Course Modal -->
<div
  class="modal fade"
  id="addModuleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalTitle"
  aria-hidden="true"
  backdrop="static"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Add Module</h5>
      </div>
      <div class="modal-body">
        <form id="addModuleForm" name="addModuleForm">
          <div class="form-group">
            <label for="crnInput">CRN</label>
            <input
              type="text"
              class="form-control"
              id="crnInput"
              name="crn"
              placeholder="15664"
            />
          </div>
          <div class="form-group">
            <label for="subjectInput">Subject</label>
            <input
              type="text"
              class="form-control"
              id="subjectInput"
              name="subject"
              placeholder="SOFT"
            />
          </div>
          <div class="form-group">
            <label for="courseInput">Course</label>
            <input
              type="text"
              class="form-control"
              id="courseInput"
              name="course"
              placeholder="8016"
            />
          </div>
          <div class="form-group">
            <label for="titleInput">Title</label>
            <input
              type="text"
              class="form-control"
              id="titleInput"
              name="title"
              placeholder="Proj - Research Phase DCOM4"
            />
          </div>
          <div class="form-group">
            <label for="creditsInput">Credits</label>
            <input
              type="text"
              class="form-control"
              id="creditsInput"
              name="credits"
              placeholder="5"
            />
          </div>
          <div class="form-group">
            <label for="levelSelect">Level</label>
            <select class="form-control" name="level" id="levelSelect">
              <option disabled selected hidden>Choose Level...</option>
              <option value="FUNDAMENTAL">Fundamental</option>
              <option value="ADVANCED">Advanced</option>
            </select>
          </div>
          <div class="form-group">
            <label for="deliverySelect">Delivered In</label>
            <select
              class="form-control"
              name="deliveryCourse"
              id="deliverySelect"
            >
              <option disabled selected hidden>Choose Course...</option>
            </select>
          </div>
          <div class="form-group">
            <label for="stageSelect">Stage</label>
            <select class="form-control" name="stage" id="stageSelect">
              <option disabled selected hidden>Choose Stage...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
          <div class="form-group">
            <label for="semesterSelect">Semester</label>
            <select class="form-control" name="semester" id="semesterSelect">
              <option disabled selected hidden>Choose Semester...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          id="cancelModalBtn"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          id="addModuleModalBtn"
          value="submit"
        >
          Add Module
        </button>
      </div>
    </div>
  </div>
</div>
