<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body>
    <% include ../partials/navigation %>

    <!-- Page Content -->
    <div class="container py-5">
      <!-- Heading Row -->
      <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <img
            class="img-fluid rounded mb-4 mb-lg-0"
            src="/images/blockchain.min.png"
            alt="blockchain"
          />
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <h1 class="font-weight-light">Academic Records Verifier</h1>
          <p class="text-justify">
            This web application can be used to store academic records of
            students currently enrolled in CIT. Employers and other external
            entities can login to view academic records of a particular student.
          </p>
          <a class="btn btn-primary" href="#">
            Login <i class="fas fa-sign-in-alt"></i>
          </a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <hr />

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-6 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Administrator</h2>
              <p class="card-text">
                Administrator can login to this web application to manage the
                assets and submit transactions to the blockchain network.
                Administrator can add a course and module assets. They can
                enroll a student in a course and assign grades to students.
              </p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary btn-sm" href="/admin/dashboard">
                Login as Admin <i class="fas fa-sign-in-alt"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-6 mb-5">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Students and Verifiers</h2>
              <p class="card-text">
                Students and verifiers are only allowed to view academic records
                stored in the blockchain. Students can only view their profile
                and their own grades while verifiers can view any student's
                profiles and grades.
              </p>
            </div>
            <div class="card-footer">
              <a class="btn btn-primary btn-sm" href="/student/R00145271">
                Login as Student <i class="fas fa-sign-in-alt"></i>
              </a>
              <a class="btn btn-primary btn-sm" href="/verifier">
                Login as Verifier <i class="fas fa-sign-in-alt"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="container">
      <hr />
      <p class="text-center">
        Copyright &copy; Patrick Kent Dacoliat 2019
      </p>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
