<!DOCTYPE html>
<html>
  <% include ../partials/header %>
  <body class="student">
    <% include ../partials/navigation %>

    <!-- Page Content -->
    <div class="container py-5">
      <div class="row mt-5">
        <div class="col">
          <h1 id="studentNo"><%= title %></h1>
          <hr />
        </div>
      </div>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-grades-tab"
            data-toggle="tab"
            href="#nav-grades"
            role="tab"
            aria-controls="nav-grades"
            aria-selected="true"
            >Grades</a
          >
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-grades"
          role="tabpanel"
          aria-labelledby="nav-grades-tab"
        >
          <div class="table-responsive mt-3">
            <table
              id="studentGradesTable"
              class="table table-striped table-bordered"
              style="width:100%"
            >
              <thead>
                <tr>
                  <th>Grade ID</th>
                  <th>Stage</th>
                  <th>Semester</th>
                  <th>CRN</th>
                  <th>Subject</th>
                  <th>Course</th>
                  <th>Title</th>
                  <th>Credits Earned</th>
                  <th>Final Grade</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

    <footer class="container">
      <hr />
      <p class="text-center">
        Copyright &copy; Patrick Kent Dacoliat 2019
      </p>
    </footer>
    <% include ../partials/scripts %>
  </body>
</html>
